@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: 400;
  src: url(/assets/FiraMono-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: 700;
  src: url(/assets/FiraMono-Bold.woff2) format('woff2');
}

body {
  font-family: "Fira Mono", monospace;
  font-size: 18px;
  line-height: 2;
  background-color: #f1f1f1;
  color: #424242;
}

h1, h2 {
  font-weight: 700;
}

a {
  color: #428bca;
  text-decoration: none;
}

a:hover {
  color: #2a6496;
  text-decoration: underline;
}

main {
  margin: 27px 36px;
}

section {
  margin: 27px 0;
}
