@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: 400;
  src: url(/assets/FiraMono-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: 700;
  src: url(/assets/FiraMono-Bold.woff2) format('woff2');
}

:root {
  color-scheme: light dark;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: #f1f1f1;
    --text-color: #424242;
    --link-color: #428bca;
    --link-hover-color: #2a6496;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #191919;
    --text-color: #bdbdbd;
    --link-color: #428bca;
    --link-hover-color: #79add9;
  }
}

body {
  font-family: "Fira Mono", monospace;
  font-size: 18px;
  line-height: 2;
  background-color: var(--background-color);
  color: var(--text-color);
}

h1, h2 {
  font-weight: 700;
}

h1 {
  font-size: 24px;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  color: var(--link-hover-color);
  text-decoration: underline;
}

main {
  margin: 27px 36px;
}

section {
  margin: 27px 0;
}
